body
    font-size: $root-font-size
    font-family: $content
    color: $black

a
    text-decoration: none

p, ul, ol
    color: $half-black

    &.description
        max-width: $tablet - 90
        margin: 1.5rem auto
        font-size: 1.25em
        text-align: center
        color: $black

q
    font-size: 1.7em
    font-family: $content
    font-weight: 800
    text-align: center

    &:before
        content: '“'
    
    &:after
        content: '”'

    & + cite
        font-size: 1em
        display: block
        font-weight: 600
        font-style: normal
        line-height: 2
        margin-top: 1rem

        @media (min-width: $tablet)
            margin-top: 0

        & > sup
            font-weight: 400
            font-style: italic
            display: block
            top: 0
            font-size: 0.85em
            line-height: 1.5
            vertical-align: baseline

%display-font
    text-transform: uppercase
    font-family: $display
    font-weight: 500

.h2
    text-align: center
    margin: 0
    text-transform: uppercase
    font-size: 1.75em