extends ./templates/wrapper.pug

block title
	title #201 Why SQLite Succeeded as a Database
	// Be sure to add meta tags here
	meta(name="description", content="")

block content
	div.mosiac.mosiac--overlap
		div.container.container--has-padding.container--extra-skinny
			article.episode
				header.episode_header
					img(src="img/the-changelog-cover-art.svg", alt="The Changelog Podcast")/
					h2
						| Why SQLite Succeeded as a Database
					i with <a class="episode_link" href="#" target="_blank">Richard Hipp</a>, the creator of <a class="episode_link" href="#" target="_blank">SQLite</a>
					div.hosts-list.section
						h3.accessibility-hidden Guest Speakers
						a.hosts-list_item(href="#", target="_blank")
							img(src="http://placehold.it/75", alt="Richard Hipp")/
					nav.podcast-menu
						button
							img(src="img/play.svg", alt="Play podcast graphic")/
							| Play
						a(href="#")
							img(src="img/subscribe.svg", alt="Subscribe to podcast graphic")/
							| Subscribe
						a(href="#")
							img(src="img/share.svg", alt="Share podcast graphic")/
							| Share
						a(href="#")
							img(src="img/sponsor.svg", alt="Sponsor podcast graphic")/
							| Sponsor
						button
							img(src="img/more.svg", alt="More options")/
					aside.sponsors-ribbon
						h3 Brought to you by:
						div.sponsors-ribbon_logos
							a(href="#")
								img(src="img/toptal-logo-gray.svg", alt="toptal")/
				p.description This week we talked to Richard Hipp, the creator of SQLite, about its history, where it came from, why is succeeded as a database, how its development is sustainably funded, and how it's the most widely deployed database engine in the world.
				cite.episode_meta
					b Episode #201
					| &nbsp;/&nbsp;
					time(datetime="2016-04-29T12:00") APR 29 2016
					| &nbsp;/&nbsp;83 Min
					| &nbsp;
					a(href="#", download)
						img(src="img/download.svg", alt="Download MP3 (54MB)")
						| &nbsp;Download MP3 (54MB)
				footer.episode_footer
					section.episode-footer-section
						div.episode-footer-section_icon
							img(src="img/notes.svg", alt="Show notes")
						div.episode-footer-section_content
							h3 Show notes
							ul
								//- Repeats
								li
									a.episode_link(href="#", target="_blank") The homepage of Richard Hipp
								li
									a.episode_link(href="#", target="_blank") The homepage of Richard Hipp
					section.episode-footer-section
						div.episode-footer-section_icon
							img(src="img/sponsor-gray.svg", alt="Show sponsors")
						div.episode-footer-section_content
							h3 Show sponsors
							dl.sponsors-list
								dt.sponsors-list_name
									a.episode_link(href="#", target="_blank") Toptal
								dd.sponsors-list_description Join the best, or hire the best engineers and designers!
					a.btn.btn--block(href="#")
						| View all episodes
	div.section
		div.container.container--skinny.container--has-padding
			section.icon-panel
				header.icon-panel_header
					h2.h2 
						img(src="img/news.svg", alt="News")
						br/
						| News
				div.icon-panel_content
					div.news-list
						article.news-item
							h3.news-item_heading Changelog Weekly
							p.news-item_description <b><em>Every Saturday morning</em></b> we ship an email that covers everything that hits our open source radar. It's nerd to the core. Don't miss out. No spam!
							nav.podcast-menu.podcast-menu--episode
								h4.accessibility-hidden Changelog Weekly Navigation
								a(href="#")
									img(src="img/subscribe.svg", alt="Subscribe")
									| Subscribe
								a(href="#")
									img(src="img/details.svg", alt="Details")
									| Details
						article.news-item
							h3.news-item_heading Changelog Nightly
							p.news-item_description <b><em>Every night at 10pm CST</em></b> we ship an email that unearths the hottest new repos on GitHub before they blow up. It's nerd to the core. Don't miss out. No spam!
							nav.podcast-menu.podcast-menu--episode
								h4.accessibility-hidden Changelog Nightly Navigation
								a(href="#")
									img(src="img/subscribe.svg", alt="Subscribe")
									| Subscribe
								a(href="#")
									img(src="img/details.svg", alt="Details")
									| Details
	div.wrapper.wrapper--half-gray
		div.container.section
			div.mosiac.mosiac--blue
				aside.callout.callout--horizontal
					img(src="img/changelog-mark-only-white.svg", alt="Changelog Logo")
					div.callout_content
						h2 Become a Changelog member today!
						p Get backstage passes to everything we do: Access to our private Slack, exclusive discounts, our limited yearly tee, and more.
					a.btn.btn--blue-text(href="#") Join now
	div.wrapper.wrapper--gray
		div.container.container--skinny.section
			section
				header
					h2.h2
						img(src="img/films.svg", alt="Films")
						br/
						| Films
					p.description Changelog films is our little film studio that focuses on telling developer-centric stories that need to be heard.
				article.film
					header.film_header
						h3 Beyond Code: Season 2 / Space City Js 2015
						time(datetime="2016-01-01T12:00") Jan 2016
					video(poster="http://placehold.it/960x540", controls)
						source(src="#", type="video/webm")
						source(src="#", type="video/mp4")
						source(src="#", type="video/ogg")
						| Your browser does not support HTML5 video
				footer.btn-container.btn-container--flex
					a.btn(href="#") Hire us
					a.btn.btn--white(href="#") View more films