extends ./templates/wrapper.pug

block title
	title The Changelog
	// Be sure to add meta tags here
	meta(name="description", content="")

block content
	section
		h2.accessibility-hidden Featured Quotes
		//- Repeats
		article
			q I train a computer like I train a dog.
			p -Matz
				sup Creator of the Ruby Programming Language
			header
				button
					img(src="http://placehold.it/55x65", alt="Show previous featured quote")/
				div
					h3 
						span The Changelog #202
						br/
						b 23 years of Ruby with Matz
				button
					img(src="http://placehold.it/55x65", alt="Show next featured quote")/
			nav
				button
					img(src="http://placehold.it/18", alt="Play podcast graphic")/
					| Play
				a(href="#")
					img(src="http://placehold.it/18", alt="Subscribe to podcast graphic")/
					| Subscribe
				a(href="#")
					img(src="http://placehold.it/18", alt="Share podcast graphic")/
					| Share
				a(href="#")
					img(src="http://placehold.it/18", alt="Sponsor podcast graphic")/
					| Sponsor
	section
		h2.accessibility-hidden Podcast Shows
		//- Repeats
		article
			div
				img(src="http://placehold.it/170", alt="The Changelog podcast art")/
				button
					img(src="http://placehold.it/40", alt="Show podcast show menu")/
				header
					h3 The Changelog
					nav
						h4.accessibility-hidden Podcast Menu
						a(href="#") Play latest episode
						a(href="#") Latest Episode Page
						a(href="#") Go to show page
						a(href="#") Subscribe
					button
						img(src="http://placehold.it/40", alt="Hide podcast show Menu")/