extends ./templates/wrapper.pug

block title
	title The Changelog Podcast
	// Be sure to add meta tags here
	meta(name="description", content="")

block content
	section
		div.mosiac
			header.flex-column.show-header
				h2
					img(src="img/the-changelog-cover-art.svg", alt="The Changelog Podcast")/
				p A weekly show that shines a spotlight on the intersection of open source and software development. It's about the code, the people, and the community
				nav.podcast-menu
					h3.accessibility-hidden Show Navigation
					button
						img(src="img/play.svg", alt="Play podcast graphic")/
						| Play
					a(href="#")
						img(src="img/subscribe.svg", alt="Subscribe to podcast graphic")/
						| Subscribe
					a(href="#")
						img(src="img/share.svg", alt="Share podcast graphic")/
						| Share
					a(href="#")
						img(src="img/sponsor.svg", alt="Sponsor podcast graphic")/
						| Sponsor
					button.podcast-menu_more-button
						img(src="img/more.svg", alt="More podcast options graphic")/
				div.podcast-menu-tooltip Hello tooltip
				div.show-header_hosts
					i This show records on Wednesday and airs on Friday with hosts:
					div.hosts-list.section
						a.hosts-list_item(href="#")
							img(src="http://placehold.it/42", alt="Adam Stacoviak")/
							| Adam Stacoviak
						a.hosts-list_item(href="#")
							img(src="http://placehold.it/42", alt="Jerod Santo")/
							| Jerod Santo
		aside.sponsors-ribbon.sponsors-ribbon--dark
			h3 Brought to you by:
			div.sponsors-ribbon_logos
				a(href="#", target="_blank")
					img(src="img/toptal-logo.svg", alt="toptal")/
				a(href="#", target="_blank")
					img(src="img/digital-ocean-logo.svg", alt="Digital Ocean")/
		div.container.container--skinny
			article.flex-column.latest-episode.section
				h3 The Latest
				q It took 6 months for a simple hello world.
				button
					img(src="img/play-large.svg", alt="Play episode")/
					| Play
				cite
					| 23 years of Ruby with Matz
					span #202
			//- Repeats
			article.episode-summary
				time.episode-summary_date(datetime="2016-05-16T12:00") May 6 2016
				h3.episode-summary_title
					span.episode-summary_title_number #202&nbsp;
					| 23 years of Ruby with Matz
				div.episode-summary_content
					p.episode-summary_content_description
						| Big show this week — we caught up with Matz, the creator of Ruby, to discuss the origins of the Ruby programming language, its history and future, Ruby 3.0, Concurrency and Parallelism, Streem, Erlang, Elixir, and more.
						img(src="http://placehold.it/75", alt="Guest Speaker: Matz")/
						img(src="http://placehold.it/75", alt="Guest Speaker: Matz")/
					nav.podcast-menu.podcast-menu--episode
						h4.accessibility-hidden Episode Navigation
						button
							img(src="img/play.svg", alt="Play podcast")/
							| Play
						a(href="#")
							img(src="img/details.svg", alt="View details")/
							| Details
						button.podcast-menu_more-button
							img(src="img/more.svg", alt="More options")/
					nav.podcast-menu-tooltip.tooltip
						h5.accessibility-hidden More Episode Navigation Options
						div.tooltip_links
							a(href="#") Subscribe
							a(href="#") Share episode
							button Copy episode link
							a(href="#") Sponsor this podcast
			article.episode-summary
				time.episode-summary_date(datetime="2016-05-16T12:00") May 6 2016
				h3.episode-summary_title
					span.episode-summary_title_number #202&nbsp;
					| 23 years of Ruby with Matz
				div.episode-summary_content
					p.episode-summary_content_description
						| Big show this week — we caught up with Matz, the creator of Ruby, to discuss the origins of the Ruby programming language, its history and future, Ruby 3.0, Concurrency and Parallelism, Streem, Erlang, Elixir, and more.
						img(src="http://placehold.it/75", alt="Guest Speaker: Matz")/
					nav.podcast-menu.podcast-menu--episode
						h4.accessibility-hidden Episode Navigation
						button
							img(src="img/play.svg", alt="Play podcast")/
							| Play
						a(href="#")
							img(src="img/details.svg", alt="View details")/
							| Details
						button.podcast-menu_more-button
							img(src="img/more.svg", alt="More options")/
					nav.podcast-menu-tooltip.tooltip
						h5.accessibility-hidden More Episode Navigation Options
						div.tooltip_links
							a(href="#") Subscribe
							a(href="#") Share episode
							button Copy episode link
							a(href="#") Sponsor this podcast
		div.container.section
			div.mosiac.mosiac--blue
				aside.callout.callout--large
					// HTML5 Semantics Recommendation if join now is a site wide callout, h2 should stay; if join now refers to only this podcast show, it should be demoted to h3
					h2 Join the community
					p Get backstage passes to everything we do:
						br/
						| Access to our private Slack, exclusive discounts, our limited yearly tee, and more.
					a.btn.btn--blue-text(href="#") Join Now
		div.container.container--skinny
			article.episode-summary
					time(datetime="2016-05-16T12:00") May 6 2016
					h3.episode-summary_title
						span.episode-summary_title_number #202&nbsp;
						| 23 years of Ruby with Matz
					div.episode-summary_content
						p.episode-summary_content_description
							| Big show this week — we caught up with Matz, the creator of Ruby, to discuss the origins of the Ruby programming language, its history and future, Ruby 3.0, Concurrency and Parallelism, Streem, Erlang, Elixir, and more.
							img(src="http://placehold.it/75", alt="Guest Speaker: Matz")/
						nav.podcast-menu.podcast-menu--episode
							h4.accessibility-hidden Episode Navigation
							button
								img(src="img/play.svg", alt="Play podcast")/
								| Play
							a(href="#")
								img(src="img/details.svg", alt="View details")/
								| Details
							button.podcast-menu_more-button
								img(src="img/more.svg", alt="More options")/
						nav.podcast-menu-tooltip.tooltip
							h5.accessibility-hidden More Episode Navigation Options
							div.tooltip_links
								a(href="#") Subscribe
								a(href="#") Share episode
								button Copy episode link
								a(href="#") Sponsor this podcast
			div.btn-container
				button.btn.btn--block
					img(src="img/arrow-down.svg", alt="Show all episodes")/
					| Show all episodes