section
	header
		h2 Hacker to the heart.
			sup &trade;
	footer
		div
			small &copy; 2009-2016 TheChangelog Media, LLC.
			address
				a(href="tel:+18005551212") 1-800-555-1212
				a(href="#") Contact Us
		nav
			h2.accessibility-hidden Social Media Links
			a(href="#", target="_blank") Twitter
			a(href="#", target="_blank") GitHub
			a(href="#", target="_blank") YouTube
			a(href="#", target="_blank") Instagram
			a(href="#", target="_blank") Newsletters
// Main JavaScript import
// script(src="js/main.js")