section.footer.mosiac
	h2 Hacker to the heart.
		sup &trade;
	footer.container
		div.footer_copyright
			small &copy; 2009-2016
				span TheChangelog Media, LLC.
			address
				a.footer_link(href="tel:+18005551212") 1-800-555-1212
				a.footer_link(href="#") Contact Us
		nav.footer_nav
			h2.accessibility-hidden Social Media Links
			a.footer_link(href="#", target="_blank") Twitter
			a.footer_link(href="#", target="_blank") GitHub
			a.footer_link(href="#", target="_blank") YouTube
			a.footer_link(href="#", target="_blank") Instagram
			a.footer_link(href="#", target="_blank") Newsletters
// Main JavaScript import
// script(src="js/main.js")