section
	header
		h1 Hacker to the heart.
			sup &trade;
	footer
		div
			small &copy; 2009-2016 TheChangelog Media, LLC.
			address
				a(href="tel:18005551212") 1-800-555-1212
				a(href="#") Contact Us
		nav
			//- h1 Social Media Links
			a(href="#") Twitter
			a(href="#") Github
			a(href="#") YouTube
			a(href="#") Instagram
			a(href="#") Newsletters
// Main JavaScript import
// script(src="js/main.js")