div
	h2.accessibility-hidden Site Navigation
	div
		a(href="#")
			img(src="http://placehold.it/180x55", alt="The Changelog")
		button
			img(src="http://placehold.it/55", alt="Hide site navigation menu")
	aside
		header
			img(src="http://placehold.it/118", alt="The Changelog")
			h3(role="presentation") Changelog
		p The Changelog is a member supported blog, weekly newsletter and podcast that covers the intersection of software development and open source. Open source moves fast. Keep up.
	nav
		section
			header
				img(src="http://placehold.it/36", alt="Changelog news graphic")
				h3 News
			a(href="#") Weekly
			a(href="#") Nightly
			a(href="#") Subscribe
		section
			header
				img(src="http://placehold.it/36", alt="Changelog podcasts graphic")
				h3 Podcasts
			a(href="#") The Changelog
			a(href="#") Go Time
			a(href="#") Founders Talk
			a(href="#") Backstage
			a(href="#") Polyglot
		section
			header
				img(src="http://placehold.it/36", alt="Changelog films graphic")
				h3 Films
			a(href="#") Featured
			a(href="#") All films
			a(href="#") Subscribe
	nav
		header
			h3 More Info
		a(href="#") Advertise
		a(href="#") Membership
		a(href="#") Partnership
		a(href="#") Store
		a(href="#") About
		a(href="#") Team
		a(href="#") Contact