div
	a(href="/")
		h1
			img(src="http://placehold.it/180x55", alt="The Changelog")
	nav
		h2.accessibility-hidden Quick Links
		a(href="#") Podcasts
		a(href="#") News
		a(href="#") Videos
		a(href="#") Advertise
	button
		img(src="http://placehold.it/55", alt="Show site navigation menu")
	
	include ./navigation-tray.pug