.btn
    display: inline-block
    font-size: 1.25em
    font-weight: 800
    color: $white
    padding: 1.25rem $padding-extra-large
    background: $green

    & > img
        padding: 0 1rem

    &--block
        display: block
        width: 100%

    &--blue-text
        color: $blue